html {
  width: 100%;
  height: 100%;
}

::-webkit-scrollbar {
  width: 0px;
  background: transparent;
  display: none;
}

body {
  position: absolute;
  margin: 0;
  padding: 0;
  background: #fff;
  width: 100%;
  height: 100%;
}

body > iframe.tmblr-iframe {
   display: none!important;
}


/* HEADER */
body > .header {
  width: 100%;
  height: 40px;
  background: #fff;
  box-shadow: 0px 1px 7px #efefef;
  position: absolute;
  display: flex;
  flex-direction: row;
  font-family: Arial;
  z-index: 3;
/*   overflow: hidden; */
}



/* HEADER - SECTION CONTAINER*/
body > .header .section-container {
  width: 100%;
  height: inherit;
  margin: auto;
  z-index: 1;
}

body > .header .section-container.selected {
  border-bottom: 1px solid #000;
}



/* HEADER -SECTION CONTAINER - a */
body > .header .section-container a {
  height: inherit;
  color: black;
  overflow: hidden;
  margin: auto;
  padding: 0px;
  font-family: Arial;
  cursor: pointer;
}

/* HEADER -SECTION CONTAINER - a - WIDTH LONGER*/
.width-longer body > .header .section-container a {
  width: 100%;
  height: inherit;
  font-size: 15px;
  font-weight: 600;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: flex;
}

/* HEADER - a - HEIGHT LONGER*/
.height-longer body > .header .section-container a {
  width: 40px;
}



/* a CONTENT ::BEFORE */
body > .header .section-container a.icon::before {
  position: relative;
}

/* a CONTENT ::BEFORE - WIDTH LONGER */
.width-longer body > .header .section-container a.icon::before {
  width: fit-content;
  height: fit-content;
  background-image: none;
}

.width-longer body > .header .section-container a.home.icon::before {
  content: "Home";
}

.width-longer body > .header .section-container a.info.icon::before {
  content: "About";
}

.width-longer body > .header .section-container a.yc.icon::before {
  content: "YC S22";
}

.width-longer body > .header .section-container a.invest.icon::before {
  content: "Invest";
}

.width-longer body > .header .section-container a.contact.icon::before {
  content: "Contact";
}

/* a CONTENT ::BEFORE - HEIGHT LONGER */
.height-longer body > .header .section-container a.icon::before {
  width: inherit;
  height: inherit;
  background-size: 70%;
}

.height-longer body > .header .section-container a.icon.contact::before {
  background-size: 75%;
}


/* SECTION CONTAINER - MENU */
body > .header .section-container .menu {
  width: 200px;
  height: 50px;
  background: white;
  position: absolute;
  right: 0px;
  border-radius: 0px 0px 5px 5px;
  box-shadow: 0px 5px 7px #efefef;
  display: flex;
}

body > .header .section-container.contact .menu {
  opacity: 0;
}

body > .header .section-container.contact .menu.show {
  opacity: 1;
}

body > .header .section-container .menu span {
  width: fit-content;
  height: fit-content;
  background: white;
  position: relative;
  margin: auto;
}



/* BACKGROUND LOGO */
img.logo {
  user-select: none;
}

.width-longer img.logo {
  width: auto;
  height: 100%;
}

.height-longer img.logo {
  width: 100%;
  height: auto;
}
