body {
  background: #fff;}


/* HEADER */
body > .header {
  width: inherit;
  height: 40px;
  background: #fff;
  box-shadow: 0px 1px 7px #efefef;
  position: absolute;
  display: flex;
  flex-direction: row;
  font-family: Arial;
  z-index: 3;
}


/* HEADER - SECTION CONTAINER*/
body > .header .section-container {
  width: 100%;
  height: inherit;
  margin: auto;
  z-index: 1;
}


/* HEADER -SECTION CONTAINER - a */
body > .header .section-container a {
  width: 40px;
  height: inherit;
  margin: auto;
  padding: 0px;
  cursor: pointer;
  color: black;
  font-size: 15px;
  font-weight: 600;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: flex;
  overflow: hidden;
}

body > .header .section-container.selected a {
  border-bottom: 1px solid #000;
}

/* a CONTENT ::BEFORE */
body > .header .section-container a.icon::before {
  width: inherit;
  height: inherit;
  background-size: 70%;
  position: relative;
}

body > .header .section-container a.icon.contact::before {
  background-size: 75%;
}


/* SECTION CONTAINER - MENU */
body > .header .section-container .menu {
  width: 200px;
  height: 50px;
  background: white;
  position: absolute;
  right: 0px;
  border-radius: 0px 0px 5px 5px;
  box-shadow: 0px 5px 7px #efefef;
  display: flex;
}

body > .header .section-container.contact .menu {
  opacity: 0;
}

body > .header .section-container.contact .menu.show {
  opacity: 1;
}

body > .header .section-container .menu span {
  width: fit-content;
  height: fit-content;
  background: white;
  position: relative;
  margin: auto;
}



body > .content.home {
  width: 100%;
  height: -webkit-fill-available;
  position: absolute;
}

.content .company-branding {
  width: fit-content;
  height: fit-content;
}

.content .company-branding p {
  margin: 0px;
  text-align: center;
  user-select: none;
}

.content .company-branding .name {
  font-family: Nasalization;
  font-weight: bold;
  white-space: nowrap;
}

.content .company-branding .bio {
  font-family: Arial;
}

.width-longer body > .content .company-branding .name {
  font-size: 48px;
}

.width-longer body > .content .company-branding .bio {
  font-size: 19px;
}

.height-longer body > .content .company-branding .name {
  font-size: 26px;
/*   font-size: 2.1rem; */
  font-size: xx-large;
}

.height-longer body > .content .company-branding .bio {
  font-size: 12px;
  font-size: 6.8px;
/*   font-size: 0.8rem; */
  font-size: smaller;
}
